.headerstyle {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: #306BB3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.mainindex {
    display: flex;
    padding: 5%;
    color: #1A202C;
}


.headerul {
    display: flex;
    gap: 40px;
}

/* no esta en figma */
li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    padding: 5%;
    background-color: #306BB3;
    display: flex;
    justify-content: space-between;
}

.footerdiv1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.footerdiv2 {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.footerlinks>p {
    color: white;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footerlinks>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.maincards {
    justify-content: space-between;
    padding: 5%;
    color: #1A202C;
}

.indexcontainer {
    width: 50%;
    padding-right: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.indexcontainer>h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.links {
    display: flex;
    gap: 30px;
}

.links>a {
    color: #1a202c;
    font-weight: bolder;
    cursor: pointer;
    text-transform: initial;
}



main>h2 {
    text-align: center;
    color: #486284;
    font-size: 3rem;
  }
  
  main>p {
    text-align: center;
    margin-top: 30px;
  }
  
  .container_select_type {
    margin: 30px;
    height: 70px;
    display: flex;
    border-bottom: 1px solid #90A3BF;
    align-items: center;
  }
  
  .container_select_type>div {
    width: calc(100% / 4);
    text-align: center;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
  }
  
  .card {
    background-color: #DEE5ED;
    width: calc(90% / 4);
    height: 400px;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    align-items: center;
  }
  
  .card>div>p {
    color: #1A202C;
    font-weight: bolder;
    text-transform: initial;
  }
  
  
  .card>picture {
    width: 100%;
    height: 70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card>div>button{
    width: 45%;
    height: 100%;
    background-color: var(--primaryColor);
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
  }
